.header {
    grid-area: h;
    background-color: #3399dc;
    margin-bottom: 5px;
    margin-top: 5px;
}
.header img {
    width: 60px;
    /*align-items: ;*/
}
.header audio {
    height: 30px;
}
.loginBlock {
    float: right;
}
.loginBlock a {
    color: white;
}